body {
  font-family: Helvetica, Arial, sans-serif;
}

a {
  color: #385898;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a * {
  vertical-align: middle;
}

body {
  background: #e9ebee;
}

.btn {
  border: none;
  background: #ebedf0;
}
.btn:hover {
  cursor: pointer;
}

.btn-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.silent-link {
  text-decoration: none !important;
  color: inherit;
}

input {
  font-size: 0.875rem;
}
input[type=text] {
  padding: 0 10px;
  min-width: 0;
  border: none;
}

.card {
  background: #ffffff;
  border: 1px solid #dddfe2;
  border-radius: 4px;
  overflow: hidden;
  font-size: 0.875rem;
}
.card .card-header {
  border-bottom: 1px solid #dddfe2;
  background: #f5f6f7;
  padding: 5px 10px;
  font-size: 0.8125rem;
  font-weight: bold;
  color: #606770;
}
.card .card-header.transparent {
  background: transparent;
  border: none;
}
.card .card-body {
  padding: 5px 10px;
}

.hoverable:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.clickable:hover {
  cursor: pointer;
}

.rounded-img {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
}
.rounded-img img {
  width: 100%;
  height: 100%;
}

.nav-icon {
  display: inline-block;
  background: url("../assets/nav-icons.png");
  background-repeat: no-repeat;
  background-size: 284px 408px;
}
.nav-icon.nav-icon-logo {
  width: 24px;
  height: 24px;
  background-position: -156px -308px;
}
.nav-icon.nav-icon-search {
  width: 16px;
  height: 16px;
  background-position: -139px -264px;
}
.nav-icon.nav-icon-search-light {
  width: 16px;
  height: 16px;
  background-position: -155px -264px;
}
.nav-icon.nav-icon-friends {
  width: 24px;
  height: 24px;
  background-position: -77px -360px;
}
.nav-icon.nav-icon-friends-light {
  width: 24px;
  height: 24px;
  background-position: -103px -360px;
}
.nav-icon.nav-icon-messages {
  width: 24px;
  height: 24px;
  background-position: -129px -360px;
}
.nav-icon.nav-icon-messages-light {
  width: 24px;
  height: 24px;
  background-position: -154px -360px;
}
.nav-icon.nav-icon-notification {
  width: 24px;
  height: 24px;
  background-position: -233px -334px;
}
.nav-icon.nav-icon-notification-light {
  width: 24px;
  height: 24px;
  background-position: 0px -360px;
}
.nav-icon.nav-icon-help {
  width: 24px;
  height: 24px;
  background-position: -182px -360px;
}
.nav-icon.nav-icon-help-light {
  width: 24px;
  height: 24px;
  background-position: -207px -360px;
}
.nav-icon.nav-icon-more {
  width: 24px;
  height: 24px;
  background-position: -26px -362px;
}
.nav-icon.nav-icon-more-light {
  width: 24px;
  height: 24px;
  background-position: -52px -362px;
}

.fb-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../assets/fb-icons.png");
  background-size: 38px 1684px;
  background-repeat: no-repeat;
}
.fb-icon.fb-icon-newsfeed {
  background-position: 0 -742px;
}
.fb-icon.fb-icon-more {
  background-position: 0 -1336px;
}
.fb-icon.fb-icon-messenger {
  background-position: 0 -192px;
}
.fb-icon.fb-icon-watch {
  background-position: 0 -1160px;
}
.fb-icon.fb-icon-marketplace {
  background-position: 0 -720px;
}
.fb-icon.fb-icon-group {
  background-position: 0 -918px;
}
.fb-icon.fb-icon-groups {
  background-position: 0 -148px;
}
.fb-icon.fb-icon-pages {
  background-position: 0 -236px;
}
.fb-icon.fb-icon-fundraisers {
  background-position: 0 -588px;
}
.fb-icon.fb-icon-saved {
  background-position: 0 -258px;
}
.fb-icon.fb-icon-games {
  background-position: 0 -808px;
}
.fb-icon.fb-icon-memories {
  background-position: 0 -170px;
}
.fb-icon.fb-icon-crisis {
  background-position: 0 -412px;
}
.fb-icon.fb-icon-jobs {
  background-position: 0 -280px;
}
.fb-icon.fb-icon-gamingvideos {
  background-position: 0 -126px;
}
.fb-icon.fb-icon-recommendations {
  background-position: 0 -456px;
}
.fb-icon.fb-icon-offers {
  background-position: 0 -786px;
}
.fb-icon.fb-icon-weather {
  background-position: 0 -1050px;
}
.fb-icon.fb-icon-adactivity {
  background-position: 0 -962px;
}
.fb-icon.fb-icon-friendlists {
  background-position: 0 -544px;
}
.fb-icon.fb-icon-apps {
  background-image: url(../assets/fb-icons-2.png);
  background-size: 22px 318px;
  background-repeat: no-repeat;
  background-position: 0 -22px;
}
.fb-icon.fb-icon-calendar {
  background-image: url(../assets/icons-calendar.png);
  background-size: 22px 120px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

section {
  box-sizing: border-box;
}

#messenger-bar-container {
  border: 2px solid red;
}

#footer {
  margin-top: 100px;
}

.container {
  width: 100%;
  min-width: 1024px;
}

#nav-bar-container {
  padding-right: 210px;
  position: sticky;
  top: 0;
}

#nav-bar {
  width: 1024px;
  height: 42px;
  margin: 0 auto;
}

#main-container {
  width: 1024px;
  margin: 10px auto 0 auto;
  display: grid;
  display: -ms-grid;
  grid-template-columns: 180px auto 308px;
  -ms-grid-columns: 180px auto 308px;
  grid-gap: 10px;
}
#main-container #side-menu {
  grid-column: 1;
  -ms-grid-column: 1;
}
#main-container #newsfeed {
  grid-column: 2;
  -ms-grid-column: 2;
}
#main-container .side-container {
  grid-column: 3;
  -ms-grid-column: 3;
}

#messenger-bar-container {
  width: 210px;
  float: right;
}

@media screen and (max-width: 1024px) {
  #nav-bar {
    width: 100%;
  }
}
@media screen and (max-width: 1280px) {
  #nav-bar-container {
    padding-right: 0;
  }

  #messenger-bar-container {
    float: none;
    position: fixed;
    bottom: 0;
    right: 50px;
    height: auto;
  }
}
#nav-bar-container {
  background-color: #4267b2;
}
#nav-bar-container #nav-bar {
  display: flex;
  align-items: center;
}
#nav-bar-container #nav-bar .logo-container {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 10px;
}
#nav-bar-container #nav-bar .search-bar {
  display: flex;
  align-items: stretch;
  width: 40%;
  min-width: 200px;
  max-width: 450px;
  height: 24px;
  border-radius: 2px;
  overflow: hidden;
}
#nav-bar-container #nav-bar .search-bar input {
  flex: 1 0;
}
#nav-bar-container #nav-bar .search-bar button {
  width: 48px;
}
#nav-bar-container #nav-bar .nav-bar-menu {
  height: 24px;
  margin-left: auto;
  display: flex;
  align-items: center;
}
#nav-bar-container #nav-bar .nav-bar-menu .nav-bar-menu-item {
  position: relative;
  height: 100%;
  display: inline-flex;
  align-items: center;
  border-radius: 5px;
  font-size: 0.75rem;
  font-weight: bold;
  color: #ffffff;
  overflow: hidden;
}
#nav-bar-container #nav-bar .nav-bar-menu .nav-bar-menu-item .btn-link {
  height: 100%;
  padding: 0 10px;
}
#nav-bar-container #nav-bar .nav-bar-menu .nav-bar-menu-item:first-of-type .btn-link {
  padding-left: 0;
}
#nav-bar-container #nav-bar .nav-bar-menu .nav-bar-menu-item .btn-link:hover {
  background: rgba(0, 0, 0, 0.2);
}
#nav-bar-container #nav-bar .nav-bar-menu .nav-bar-menu-item .user-avatar {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}
#nav-bar-container #nav-bar .nav-bar-menu .nav-bar-menu-item .nav-button {
  margin: 0 8px;
}
#nav-bar-container #nav-bar .nav-bar-menu .nav-bar-menu-item + .nav-bar-menu-item::before {
  content: "";
  position: absolute;
  left: 0;
  height: 75%;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

#side-menu .menu-group {
  font-size: 0.8125rem;
  margin-bottom: 10px;
}
#side-menu .menu-group .menu-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: #606770;
}
#side-menu .menu-group .menu-header .header-settings {
  font-weight: normal;
  display: none;
}
#side-menu .menu-group:hover .header-settings {
  display: inline-block;
}
#side-menu .menu-group .menu-items .menu-item {
  display: flex;
  min-width: 0;
  align-items: center;
  padding: 5px;
  border: 1px solid transparent;
  box-sizing: border-box;
}
#side-menu .menu-group .menu-items .menu-item .item-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
#side-menu .menu-group .menu-items .menu-item .item-caption {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#side-menu .menu-group .menu-items .menu-item .item-caption.active {
  font-weight: 900;
}
#side-menu .menu-group .menu-items .menu-item .item-badge {
  flex-basis: 30px;
  display: inline-flex;
  justify-content: flex-end;
  margin-left: auto;
  color: #606770;
  font-size: 0.6875rem;
}
#side-menu .menu-group .menu-items .menu-item .item-badge .item-settings:not(.fixed) {
  display: none;
}
#side-menu .menu-group .menu-items .menu-item.active, #side-menu .menu-group .menu-items .menu-item:hover:not(.more-button) {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #dddfe2;
}
#side-menu .menu-group .menu-items .menu-item.active {
  font-weight: bold;
}
#side-menu .menu-group .menu-items .menu-item:hover .item-badge .item-property:not(.fixed) {
  display: none;
}
#side-menu .menu-group .menu-items .menu-item:hover .item-badge .item-settings {
  display: inline-block;
}

/*# sourceMappingURL=style.css.map */
