// For IE 10
@mixin display-grid {
    display: grid;
    display: -ms-grid;
}

@mixin grid-template-columns($args) {
    grid-template-columns: $args;
    -ms-grid-columns: $args;
}

@mixin grid-column($args) {
    grid-column: $args;
    -ms-grid-column: $args;
}

@mixin transform($args) {
    transform: $args;
    -webkit-transform: $args;
}

@mixin transition($args) {
    transition: $args;
    -webkit-transition: $args;
}

@mixin border-bottom($width: 1px) {
    border-bottom: $width solid $border;
}
