#side-menu {
    .menu-group {
        font-size: 0.8125rem;
        margin-bottom: 10px;

        &:hover {
            .header-settings {
                display: inline-block;
            }
        }
    }

    .menu-header {
        display: flex;
        justify-content: space-between;

        .header-settings {
            font-weight: normal;
            display: none;
        }

        font-weight: bold;
        color: $text-secondary;
    }

    .menu-items {
        .menu-item {
            display: flex;
            min-width: 0;
            align-items: center;
            padding: 5px;
            border: 1px solid transparent;
            box-sizing: border-box;

            .item-icon {
                width: 20px;
                height: 20px;
                margin-right: 5px;
            }

            .item-caption {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                &.active {
                    font-weight: 900;
                }
            }

            .item-badge {
                flex-basis: 30px;
                display: inline-flex;
                justify-content: flex-end;
                margin-left: auto;
                color: $text-secondary;
                font-size: 0.6875rem;

                .item-settings:not(.fixed) {
                    display: none;
                }
            }

            &.active,
            &:hover:not(.more-button) {
                cursor: pointer;
                background: $background-hover-light;
                border: 1px solid $border;
            }

            &.active {
                font-weight: bold;
            }

            &:hover .item-badge {
                .item-property:not(.fixed) {
                    display: none;
                }
                .item-settings {
                    display: inline-block;
                }
            }
        }
    }
}

#widgets-container {
    & > * {
        margin-bottom: 10px;
    }

    .alerts-container {
        font-size: 0.8125rem;

        .alert + .alert {
            margin-top: 2px;
        }

        .fb-alert-icon {
            display: inline-block;
            width: 16px;
            height: 16px;
            vertical-align: bottom;
        }

        .alert-link {
            text-decoration: none;

            * {
                vertical-align: baseline;
            }
        }

        .alert-description {
            color: $text-small;
        }
    }

    .page-overview {
        .page-selector {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 3px 0;

            i {
                vertical-align: bottom;
                width: 16px !important;
                height: 16px !important;
            }
        }

        .page-summary {
            border-bottom: 1px solid $border;
            padding: 10px 0px;

            .page-avatar {
                display: inline-block;
                width: 60px;
                height: 60px;
                vertical-align: middle;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .page-info {
                display: inline-block;
                vertical-align: middle;
                margin-left: 10px;

                > {
                    * + * {
                        margin-top: 5px;
                    }
                }

                .page-name {
                    font-size: 0.875rem;
                    font-weight: bold;
                }

                .page-attribute-caption {
                    font-size: 0.8125rem;
                    color: $text-secondary;
                }

                .badge {
                    font-size: 0.625rem;
                }
            }
        }

        .page-actions {
            display: flex;
            justify-content: space-around;
            align-content: center;

            padding: 10px 0;
            border-bottom: 1px solid $border;

            .page-action {
                display: flex;
                flex-direction: column;
                align-items: center;

                a {
                    color: $text-small;
                }
            }

            .action-icon {
                width: 16px;
                height: 16px;
                margin-bottom: 5px;
            }
        }

        .page-analytics {
            padding: 15px 0;

            .page-property-selector {
                border-radius: 3px;
                overflow: hidden;
            }

            .page-property {
                padding: 10px;
                font-size: 0.75rem;
                color: $text-secondary;

                &.active {
                    font-weight: bold;
                    background: $background;
                }
            }

            .page-property-container {
                display: flex;
                flex-direction: column;
                align-items: center;

                padding: 10px 0;

                a {
                    color: inherit;
                }

                .page-property-content {
                    font-size: 1.25rem;
                    margin-bottom: 5px;
                }

                .page-property-small {
                    font-size: 0.75rem;
                    color: $text-muted;
                }
            }
        }

        .page-menu {
            border-top: 1px solid $border;
            padding: 10px 0;

            * {
                font-size: 0.75rem;
                color: rgb(68, 73, 80);
                font-weight: bold;
            }

            .btn {
                padding: 0;
            }

            .more-button {
                width: 30px;
                height: 30px;
                flex-grow: 0;

                span {
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }

    .recent-listings {
        margin-top: 10px;

        .card-header {
            span {
                color: $text-secondary;
            }
        }

        .card-body {
            padding-bottom: 10px;
        }

        .listings-container {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;

            .listing {
                position: relative;
                width: 138px;
                height: 138px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .listing-price {
                    display: inline-block;
                    position: absolute;
                    bottom: 5px;
                    left: 6px;
                    padding: 0 7px;

                    font-size: 0.75rem;
                    color: $white;
                    background: rgba(0, 0, 0, 0.5);
                }

                .hide-button {
                    display: inline-block;
                    width: 11px;
                    height: 11px;
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    background: url('../assets/close-button.png');
                    background-position: 0 35px;
                }
            }
        }

        .more-listing-link {
            display: inline-block;
            margin-top: 10px;
            font-size: 0.8125rem;
        }
    }

    .suggested-groups {
        .card-header {
            display: flex;
            justify-content: space-between;

            a {
                font-weight: normal;
            }
        }

        .fb-group {
            margin-bottom: 15px;

            .card-body {
                padding: 0;
            }

            .fb-group-cover {
                position: relative;
                width: 100%;
                height: 120px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                a.link-to-fb-group {
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }

            .fb-group-info {
                display: flex;
                justify-content: space-between;
                align-items: center;

                padding: 10px;

                .fb-group-name {
                    font-weight: bold;
                    font-size: 0.75rem;

                    a {
                        text-decoration: none;
                    }
                }

                .fb-group-description {
                    color: $text-secondary;
                }

                .fb-group-description {
                    display: inline-block;
                    font-size: 0.8125rem;
                    margin-top: 5px;
                }
            }

            .fb-group-action {
                font-size: 0.75rem;
                font-weight: bold;
                color: $text-muted;
            }
        }
    }

    .language-list {
        margin-top: 10px;
        font-size: 0.8125rem;
        padding: 5px;

        .card-body {
            display: flex;
            justify-content: space-around;
        }

        .current-language {
            color: $text-secondary;
        }

        .available-language {
            white-space: nowrap;

            &::before {
                content: '· ';
                color: $text-secondary;
            }
        }

        .language-action {
            display: inline-block;
        }
    }
}

#footer {
    padding: 10px 10px 50px 10px;
    padding-bottom: 50px;
    font-size: 0.8125rem;

    .footer-links {
        opacity: 0.7;

        a {
            color: $text-secondary;
        }
        a + a::before {
            content: '· ';
        }
    }

    .footer-copyright {
        margin-top: 5px;
        color: $text-muted;
    }
}

#newsfeed {
    .card {
        margin-bottom: 10px;
    }

    #new-post-backdrop {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.7);
        z-index: 999999;

        &.show {
            display: block;
        }
    }
    #new-post {
        .composer-close {
            display: none;
        }

        &.expanded {
            position: relative;
            z-index: 9999999;

            .composer-close {
                display: inline-block;
            }

            .composer-actions {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                .composer-action.more {
                    display: none;
                }

                .composer-action.hide {
                    display: inline-block;
                }

                .composer-action {
                    flex: 0 0 45%;
                    margin-bottom: 10px;
                }
            }

            .composer-submit {
                display: flex;
                padding-bottom: 10px;
            }

            button {
                font-weight: bold;
                color: $white;
                display: inline-block;
                flex-grow: 1;
            }
        }

        .composer {
            display: flex;
            align-items: center;
            @include border-bottom;
            padding: 10px 0;

            .avatar {
                width: 40px;
                height: 40px;
                margin-right: 10px;
            }

            #text-input {
                border: none;
                outline: none;

                &::placeholder {
                    color: $text-muted;
                }
            }
        }

        .composer-actions {
            padding: 10px 0;

            .composer-action.hide {
                display: none;
            }

            .composer-action {
                padding: 5px 10px;

                font-size: 0.75rem;
                font-weight: bold;
                color: $text-secondary;
                border: none;
                background: $background-badge;

                &:hover {
                    filter: brightness(0.9);
                }
                * {
                    vertical-align: middle;
                }
            }
        }

        .composer-submit {
            display: none;
        }
    }

    .stories {
        display: flex;
        justify-content: space-around;
        padding-bottom: 20px;

        .story {
            display: inline-block;
            position: relative;
            width: 113px;
            height: 201px;
            border-radius: 10px;
            overflow: hidden;

            &:hover {
                .story-img {
                    @include transform(scale(1.05));
                }
            }

            .story-img {
                @include transition(all 0.3s);
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .user-avatar {
                position: absolute;
                top: 10px;
                left: 10px;
                width: 35px;
                height: 35px;

                border: 4px solid $new-story;
            }

            .add-story-button {
                @extend .user-avatar;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;

                background: $background;
                border: none;
            }

            .story-caption {
                position: absolute;
                bottom: 5px;
                left: 5px;
                font-weight: bold;
                color: $white;

                text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
            }

            .story-link {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }
        }
    }

    .fb-post {
        position: relative;

        .card-body {
            padding: 0;
        }

        .poster {
            display: flex;
            align-items: center;

            .poster-avatar {
                width: 50px;
                height: 50px;
                margin-right: 5px;
            }

            .post-info {
                .post-metadata {
                    * {
                        vertical-align: middle;
                    }
                }

                .post-time {
                    color: $text-secondary;
                    font-size: 0.65rem;
                }
            }
        }

        .post-menu {
            position: absolute;
            top: 7px;
            right: 10px;
        }

        .post-content {
            line-height: 1.5;
            padding: 5 15px 10px 15px;
        }

        .post-img {
            width: 100%;

            img {
                width: 100%;
            }
        }

        .post-status {
            display: flex;
            justify-content: space-between;
            padding: 10px 0;
            margin: 0 10px;
            @include border-bottom();

            .post-reactions {
                * {
                    vertical-align: middle;
                }
                a {
                    color: $text-secondary;
                    font-size: 0.8125rem;
                }
            }

            .post-social-status {
                a + a {
                    margin-left: 5px;
                }

                a {
                    color: $text-secondary;
                    font-size: 0.8125rem;
                }
            }
        }

        .post-social-buttons {
            display: flex;
            padding: 5px 15px;
            @include border-bottom;

            .btn {
                flex-grow: 1;
                background: transparent;
                border: none;

                font-weight: bold;
                color: $text-secondary;

                &:hover {
                    background: $background-hover;
                }
            }
        }

        .post-comments {
            display: none;
            padding: 10px 15px;

            &.show {
                display: block;
            }
        }

        .post-comments {
            .user-avatar {
                flex: 0 0 32px;
                width: 32px;
                height: 32px;
                margin-right: 5px;

                &.in-reply {
                    width: 25px;
                    height: 25px;
                    flex: 0 0 25px;
                }
            }

            .comment {
                display: flex;
                align-items: flex-start;

                .comment-content {
                    .username {
                        font-weight: bold;
                    }

                    .comment-message {
                        padding: 10px;
                        background: $background;
                        border-radius: 20px;
                        overflow: hidden;
                    }
                }

                .comment-reactions {
                    * {
                        font-size: 0.7rem;
                    }

                    .comment-time {
                        color: $text-secondary;
                    }
                }

                .comment-replies {
                    padding-top: 10px;
                }
            }

            .comment-box {
                display: flex;
                align-items: stretch;
                position: relative;

                .comment-composer {
                    outline: none;
                    border: 1px solid $border;
                    border-radius: 20px;
                    background: $background;
                    flex-grow: 1;
                    padding-right: 120px;
                    padding-left: 15px;
                }

                .comment-insert {
                    position: absolute;
                    right: 10px;
                    bottom: 5px;

                    * {
                        margin-left: 7px;
                    }
                }
            }
        }
    }
}
