html,
body {
    margin: 0;
    padding: 0;
}
section {
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-width: map-get($breakpoints, 'large');
}

#nav-bar-container {
    padding-right: $messenger-bar-width;
    position: sticky;
    top: 0;
}

#nav-bar {
    width: $container-width;
    height: $nav-bar-height;
    margin: 0 auto;
}

#main-container {
    width: $container-width;
    padding-right: $messenger-bar-width;
    margin: 10px auto 0 auto;
    // display: grid;
    // grid-template-columns: 180px auto 308px;
    @include display-grid;
    @include grid-template-columns(180px auto 308px);
    grid-gap: 10px;

    #side-menu {
        @include grid-column(1);
    }

    #newsfeed {
        @include grid-column(2);
    }

    .side-container {
        @include grid-column(3);
    }
}

#messenger-bar-container {
    width: $messenger-bar-width;
    position: fixed;
    right: 0;
    top: $nav-bar-height;
    bottom: 0;
}

@media screen and (max-width: map-get($breakpoints, 'large')) {
    #nav-bar {
        width: 100%;
    }
}

@media screen and (max-width: map-get($breakpoints, 'x-large')) {
    #main-container {
        padding-right: 0;
    }

    #nav-bar-container {
        padding-right: 0;
    }

    #messenger-bar-container {
        position: fixed;
        top: auto;
        right: 50px;
        height: auto;
        background: $white;
        z-index: 99;

        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        overflow: hidden;

        #messenger-bar-header {
            display: flex !important;
            align-items: center;
            width: 100%;
            height: 40px;
            padding: 10px;
            border-bottom: 1px solid $border;

            &:hover {
                background: $background-hover;
            }

            .header-caption-container {
                display: flex;
                flex-direction: column;
                flex-grow: 1;

                .header-caption {
                    font-weight: bold;
                    font-size: 0.875rem;
                }

                .header-description {
                    font-size: 0.75rem;
                    color: $text-secondary;
                }
            }

            .setting-button {
                margin: 0 5px;
                width: 16px;
                height: 16px;

                filter: brightness(0.4);
            }
        }

        #messenger-bar {
            display: none !important;
            max-height: 450px;
            padding: 0 10px 0 5px;

            &.show {
                display: block !important;
            }
        }

        #messenger-bar-settings {
            display: none !important;

            &.show {
                display: flex !important;

                .setting-button {
                    display: none !important;
                }
            }
        }
    }
}
