html,
body {
    margin: 0;
    padding: 0;
}

// ============ Sketching
section {
    box-sizing: border-box;
}

#messenger-bar-container {
    border: 2px solid red;
}
#side-menu {
    border: 2px solid cornflowerblue;
}
#newsfeed {
    border: 2px solid orange;
}
#widgets-container {
    border: 2px solid greenyellow;
}
#footer {
    border: 2px solid rebeccapurple;
}

// ============= /Sketching

.container {
    width: 100%;
    overflow: hidden;
}

#nav-bar-container {
    padding-right: $messenger-bar-width;
    position: sticky;
    top: 0;
    overflow: hidden;
}

#nav-bar {
    width: $container-width;
    height: $nav-bar-height;
    margin: 0 auto;
}

#main-container {
    width: $container-width;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 180px auto 308px;
    grid-gap: 10px;
}

#messenger-bar-container {
    width: $messenger-bar-width;
    float: right;
}

@media screen and (max-width: map-get($breakpoints, 'large')) {
    #nav-bar {
        width: 100%;
    }
}

@media screen and (max-width: map-get($breakpoints, 'x-large')) {
    #nav-bar-container {
        padding-right: 0;
    }

    #messenger-bar-container {
        float: none;
        position: fixed;
        bottom: 0;
        right: 50px;
        height: auto;
    }
}
