html,
body {
    margin: 0;
    padding: 0;
}

section {
    border: 2px solid cornflowerblue;
    box-sizing: border-box;
    min-height: 20px;
}

.container {
    width: 100%;
    overflow: hidden;
}

#nav-bar-container {
    padding-right: $messenger-bar-width;
    position: sticky;
    top: 0;
    overflow: hidden;
}

#nav-bar {
    width: $container-width;
    height: $nav-bar-height;
    margin: 0 auto;
}

#main-container {
    width: $container-width;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 180px auto 308px;
    grid-gap: 10px;
}

#messenger-bar-container {
    width: $messenger-bar-width;
    float: right;
}

@media screen and (max-width: map-get($breakpoints, 'x-large')) {
    #nav-bar-container {
        padding-right: 0;
    }

    #messenger-bar-container {
        float: none;
        position: fixed;
        bottom: 0;
        right: 50px;
        height: auto;
    }
}
