.badge {
    display: inline-block;

    border: 1px solid $border;
    border-radius: 5px;
    background: $white;
    padding: 3px;
}

.badge-rounded {
    @extend .badge;

    border-radius: 15px;
}
