.btn {
    border: none;
    background: $background-button;

    &:hover {
        cursor: pointer;
    }
}

.btn-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}
