.btn-group {
    display: flex;
    border: 1px solid $border;
    box-shadow: border-box;

    .btn {
        flex-grow: 1;
        border: none;
    }

    .btn + .btn {
        border-left: 1px solid $border;
    }
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: $background-button;
    border: 1px solid $border;
    padding: 5px 10px;
    border-radius: 2px;

    &:hover {
        background: $background-hover !important;
        cursor: pointer;
    }

    &.transparent {
        background: none;
    }
}

.btn-primary {
    color: $white;
    background: $color-primary;
}

.btn-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}
