.card {
    background: $background-card-body;
    border: 1px solid $border;
    border-radius: 4px;
    overflow: hidden;
    font-size: 0.875rem;

    .card-header {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $border;
        background: $background-card-header;
        padding: 5px 10px;
        font-size: 0.8125rem;
        font-weight: bold;
        color: $text-secondary;

        .header-property {
            margin-left: auto;
        }

        .header-link {
            float: right;
            font-size: 0.8125rem;
            font-weight: normal;
        }

        &.transparent-with-border {
            background: transparent;
        }

        &.transparent {
            @extend .transparent-with-border;
            border: none;
        }
    }

    .card-body {
        padding: 5px 10px;
    }
}
